<!DOCTYPE html>
<html>
<head>
    <title>Authentication Success</title>
</head>
<body>

    <script>
        // Close the popup window and notify the parent window
        if (window.opener) {
            // This is a popup window
            window.opener.postMessage({
                type: 'SOCIAL_AUTH_SUCCESS',
                token: '{{ token }}',
                user: {{ user|safe }}
            }, '*');
            window.close();
        } else {
            // This is a direct redirect, redirect to the main app
            window.location.href = 'http://localhost:3000';
        }
    </script>
</body>
</html>